# {{ ansible_managed }}

# By changing the setting below to TRUE you are indicating your agreement to our EULA
# (https://account.mojang.com/documents/minecraft_eula).
# Lastest release: 20 September 2017 09:55
eula={{ mp-minecraft_accept_eula }}
